@tailwind base;
@tailwind components;
@tailwind utilities;



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color:white ;
}

.logo{
    width: 5rem;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 25px;
}

body{
    padding-top: 95px;

}

.restaurantList {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5rem;
    gap: 20px;
}

.cards{
    width: 250px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s;
}

.cards > img {
    width: 100%;
    height: 14rem;
    border-radius: 10px; 

}



.cards h5,h3,h6{
    padding: 0px 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cards:hover {

    cursor: pointer;
    transform: translateY(-5px);

}


 .search-container{
    display: flex;
    justify-content: end;
    padding: 1rem 5rem;

 }


.shimmer {
    width: 250px;
    height: 14rem;
    border-radius: 10px; 
    background-color: lightgrey;
}

.link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.restaurantMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}
.restaurantCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background-color: aliceblue;
}

.restaurantCard > img {
    width: 15rem;
    border-radius: 10px; 

}

.menu {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 2rem;
    
}

.menu-card {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 2rem;
 

}

.menu-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-img >img  {
    height: 8rem;
    width: 8rem;
    max-height: 80%;
    max-width: 90%;
    
}

.Section {
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 2rem;
}

.addItem {
    margin: 1rem;
    padding: 1rem;
    background-color: azure;
    
}




 

